body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color:lavender;
    color: darkorchid;
    
}

.header, .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.begingame, .playagain {
    color: lavender;
    background-color: darkorchid;
    font-size: 24px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.player-choices {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 250px;
}

.rock-choice, .paper-choice, .scissors-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

span {
    font-size: 32px;
}

#rock-button, #paper-button, #scissors-button {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    max-height: 50%;
    max-width: auto;
}

.round-results, .score-keeper {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    width: 500px;
}